@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h2 class="mb-4">Welcome to the Resume Interpreter</h2>
    <p class="lead">Analyze and extract information from uploaded resumes using AI.</p>
    <a asp-controller="Home" asp-action="Test" class="btn btn-primary mt-3">
        Go To Test Page
    </a>
    
</div>
