@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <a asp-controller="Home" asp-action="Test" class="btn btn-primary">
        Go To Test Page
    </a>
    
</div>
