@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark-light">
    <div class="container" type="button" aria-controls="nav01" aria-expanded="false">
      <a class="navbar-brand" href="#">
        <img class="img-fluid" src="trizzle-assets/logos/trizzle-logo.svg" alt=""/>
      </a>
      <div class="collapse navbar-collapse" id="nav01">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link px-4 d-flex align-items-center" aria-current="page" href="upload2.html">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="" viewbox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"></path>
              </svg>
              <span class="ms-2">Upload</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-4 d-flex align-items-center" aria-current="page" href="mass_upload2.html">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="" viewbox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"></path>
              </svg>
              <span class="ms-2">Mass Upload</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-4 d-flex align-items-center" aria-current="page" hre="" f="#" href="filtering.html">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="" viewbox="0 0 16 16">
                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"></path>
                <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"></path>
              </svg>
              <span class="ms-2">Filtering</span>
            </a>
          </li>
          <li class="nav-item"></li>
          <li class="nav-item">
            <a class="nav-link px-4 d-flex align-items-center" aria-current="page" hre="" f="#" href="sign_in.html">
              <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.3417 10.2333C12.8692 9.66683 13.1664 8.92394 13.1751 8.14996C13.1751 7.31453 12.8432 6.51331 12.2525 5.92257C11.6617 5.33183 10.8605 4.99996 10.0251 4.99996C9.18965 4.99996 8.38843 5.33183 7.7977 5.92257C7.20696 6.51331 6.87508 7.31453 6.87508 8.14996C6.88378 8.92394 7.18093 9.66683 7.70841 10.2333C6.97396 10.599 6.34193 11.1416 5.86918 11.8122C5.39642 12.4827 5.09777 13.2603 5.00008 14.075C4.97577 14.296 5.04025 14.5176 5.17934 14.6911C5.31843 14.8645 5.52073 14.9756 5.74175 15C5.96276 15.0243 6.18438 14.9598 6.35785 14.8207C6.53132 14.6816 6.64244 14.4793 6.66675 14.2583C6.76619 13.4509 7.15745 12.7078 7.76682 12.1688C8.37619 11.6299 9.16159 11.3324 9.97508 11.3324C10.7886 11.3324 11.574 11.6299 12.1833 12.1688C12.7927 12.7078 13.184 13.4509 13.2834 14.2583C13.3066 14.472 13.4114 14.6684 13.576 14.8066C13.7406 14.9448 13.9523 15.0141 14.1667 15H14.2584C14.4769 14.9748 14.6765 14.8644 14.8139 14.6927C14.9512 14.521 15.0152 14.3019 14.9917 14.0833C14.9013 13.2729 14.6121 12.4975 14.1498 11.8258C13.6875 11.1542 13.0664 10.6071 12.3417 10.2333ZM10.0001 9.63329C9.70671 9.63329 9.41992 9.5463 9.17598 9.38331C8.93205 9.22031 8.74193 8.98865 8.62966 8.71761C8.51739 8.44656 8.48801 8.14831 8.54525 7.86058C8.60248 7.57284 8.74376 7.30853 8.95121 7.10108C9.15865 6.89364 9.42296 6.75236 9.7107 6.69513C9.99844 6.63789 10.2967 6.66727 10.5677 6.77954C10.8388 6.89181 11.0704 7.08193 11.2334 7.32586C11.3964 7.5698 11.4834 7.85658 11.4834 8.14996C11.4834 8.54336 11.3271 8.92066 11.049 9.19883C10.7708 9.47701 10.3935 9.63329 10.0001 9.63329ZM15.8334 1.66663H4.16675C3.50371 1.66663 2.86782 1.93002 2.39898 2.39886C1.93014 2.8677 1.66675 3.50358 1.66675 4.16663V15.8333C1.66675 16.4963 1.93014 17.1322 2.39898 17.6011C2.86782 18.0699 3.50371 18.3333 4.16675 18.3333H15.8334C16.4965 18.3333 17.1323 18.0699 17.6012 17.6011C18.07 17.1322 18.3334 16.4963 18.3334 15.8333V4.16663C18.3334 3.50358 18.07 2.8677 17.6012 2.39886C17.1323 1.93002 16.4965 1.66663 15.8334 1.66663ZM16.6667 15.8333C16.6667 16.0543 16.579 16.2663 16.4227 16.4225C16.2664 16.5788 16.0544 16.6666 15.8334 16.6666H4.16675C3.94573 16.6666 3.73377 16.5788 3.57749 16.4225C3.42121 16.2663 3.33341 16.0543 3.33341 15.8333V4.16663C3.33341 3.94561 3.42121 3.73365 3.57749 3.57737C3.73377 3.42109 3.94573 3.33329 4.16675 3.33329H15.8334C16.0544 3.33329 16.2664 3.42109 16.4227 3.57737C16.579 3.73365 16.6667 3.94561 16.6667 4.16663V15.8333Z" fill="#3D485B"></path>
              </svg>
              <span class="ms-2">Sign Out</span>
            </a>
          </li>
        </ul>
        <div class="d-none d-xl-flex align-items-center ms-auto">
          <a class="btn border-0 p-0 me-6" href="#">
            <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M19 4H5C4.20435 4 3.44129 4.31607 2.87868 4.87868C2.31607 5.44129 2 6.20435 2 7V17C2 17.7956 2.31607 18.5587 2.87868 19.1213C3.44129 19.6839 4.20435 20 5 20H19C19.7956 20 20.5587 19.6839 21.1213 19.1213C21.6839 18.5587 22 17.7956 22 17V7C22 6.20435 21.6839 5.44129 21.1213 4.87868C20.5587 4.31607 19.7956 4 19 4ZM5 6H19C19.2652 6 19.5196 6.10536 19.7071 6.29289C19.8946 6.48043 20 6.73478 20 7L12 11.88L4 7C4 6.73478 4.10536 6.48043 4.29289 6.29289C4.48043 6.10536 4.73478 6 5 6ZM20 17C20 17.2652 19.8946 17.5196 19.7071 17.7071C19.5196 17.8946 19.2652 18 19 18H5C4.73478 18 4.48043 17.8946 4.29289 17.7071C4.10536 17.5196 4 17.2652 4 17V9.28L11.48 13.85C11.632 13.9378 11.8045 13.984 11.98 13.984C12.1555 13.984 12.328 13.9378 12.48 13.85L20 9.28V17Z" fill="#3D485B"></path>
            </svg>
          </a>
          <a class="btn border-0 p-0 me-8" href="#">
            <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M18 13.18V10C17.9986 8.58312 17.4958 7.21247 16.5806 6.13077C15.6655 5.04908 14.3971 4.32615 13 4.09V3C13 2.73478 12.8946 2.48043 12.7071 2.29289C12.5196 2.10536 12.2652 2 12 2C11.7348 2 11.4804 2.10536 11.2929 2.29289C11.1054 2.48043 11 2.73478 11 3V4.09C9.60294 4.32615 8.33452 5.04908 7.41939 6.13077C6.50425 7.21247 6.00144 8.58312 6 10V13.18C5.41645 13.3863 4.911 13.7681 4.55294 14.2729C4.19488 14.7778 4.00174 15.3811 4 16V18C4 18.2652 4.10536 18.5196 4.29289 18.7071C4.48043 18.8946 4.73478 19 5 19H8.14C8.37028 19.8474 8.873 20.5954 9.5706 21.1287C10.2682 21.6621 11.1219 21.951 12 21.951C12.8781 21.951 13.7318 21.6621 14.4294 21.1287C15.127 20.5954 15.6297 19.8474 15.86 19H19C19.2652 19 19.5196 18.8946 19.7071 18.7071C19.8946 18.5196 20 18.2652 20 18V16C19.9983 15.3811 19.8051 14.7778 19.4471 14.2729C19.089 13.7681 18.5835 13.3863 18 13.18ZM8 10C8 8.93913 8.42143 7.92172 9.17157 7.17157C9.92172 6.42143 10.9391 6 12 6C13.0609 6 14.0783 6.42143 14.8284 7.17157C15.5786 7.92172 16 8.93913 16 10V13H8V10ZM12 20C11.651 19.9979 11.3086 19.9045 11.0068 19.7291C10.7051 19.5536 10.4545 19.3023 10.28 19H13.72C13.5455 19.3023 13.2949 19.5536 12.9932 19.7291C12.6914 19.9045 12.349 19.9979 12 20ZM18 17H6V16C6 15.7348 6.10536 15.4804 6.29289 15.2929C6.48043 15.1054 6.73478 15 7 15H17C17.2652 15 17.5196 15.1054 17.7071 15.2929C17.8946 15.4804 18 15.7348 18 16V17Z" fill="#3D485B"></path>
            </svg>
          </a>
          <a class="btn border-0 d-flex align-items-center p-0" href="#">
            <span class="ms-3 me-4 fw-bold text-white">Your Name</span>
            <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4 6L8 10L12 6" stroke="#3D485B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </a>
        </div>
      </div>
      <button class="d-block d-xl-none navbar-burger navbar-toggler py-1 px-2 border-0 rounded-1">
        <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3 12H21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M3 6H21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M3 18H21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      </button>
    </div>
  </nav>
  <div class="d-none navbar-menu position-fixed top-0 start-0 bottom-0 w-100 mw-sm" style="z-index: 9999;">
    <div class="navbar-close navbar-backdrop position-fixed top-0 start-0 end-0 bottom-0 bg-dark-light bg-opacity-25"></div>
    <nav class="position-relative h-100 w-100 d-flex flex-column pt-8 pb-10 px-8 bg-dark-light overflow-auto">
      <div class="d-flex align-items-center justify-content-between mb-16">
        <a class="inline-flex items-center" href="#">
          <img class="img-fluid" src="trizzle-assets/logos/trizzle-logo.svg" alt=""/>
        </a>
        <a class="navbar-close text-light" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewbox="0 0 24 24">
            <path d="M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z" fill="currentColor"></path>
          </svg>
        </a>
      </div>
      <ul class="list-unstyled mb-10">
        <li class="mb-10"><a class="btn p-0 btn-link fs-7 text-light" href="#">Overview</a></li>
        <li class="mb-10"><a class="btn p-0 btn-link fs-7 text-light" href="#">Analytics</a></li>
        <li class="mb-10"><a class="btn p-0 btn-link fs-7 text-light" href="#">Products</a></li>
        <li class="mb-10">
          <a class="btn p-0 btn-link fs-7 text-light d-flex align-items-center" aria-current="page" href="#">
            <span>Orders</span>
            <div class="ms-2 d-flex align-items-center justify-content-center bg-primary rounded-pill text-white fs-10" style="width: 22px; height: 22px;">4</div>
          </a>
        </li>
        <li><a class="btn p-0 btn-link text-light" href="#">Customers</a></li>
      </ul>
      <a class="btn mt-auto border-0 d-flex align-items-center p-0" href="#">
        <img class="img-fluid" src="trizzle-assets/images/avatar-men.png" alt=""/>
        <span class="ms-3 me-4 fw-bold text-white">John Doe</span>
        <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 6L8 10L12 6" stroke="#3D485B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      </a>
    </nav>
  </div>
</section>