@{
    ViewData["Title"] = "Test Page";
}
@model QuerySearch

<h1>
    This is a page for testing
</h1>
<h3>
    Change this page to test your changes and view data.
</h3>
<p1>

    @{
        // am so sorry for the mess here
        QuerySearch search = new QuerySearch();

        List<string> keywords = new List<string>() {"apple","grape" ,"meat"};

        Dictionary<string, int> R2 = search.ScoreList(search.KeywordSearch(keywords));

        foreach (var item in R2)
        {
            Console.WriteLine(
             $"{item.Key}: {item.Value}"
            );
        }
    }
</p1>
