$h2-font-size: 2rem;
$body-bg: #27263D;
$gray-200: #C0C8D2;
$indigo: #6610f2;
$primary: $indigo;
$gray-100: #E0E8F2;
$gray-400: #3D485B;
$secondary: rgba(190, 195, 205, 0.67);
$light: rgba(48, 42, 102, 0.14);
$info: $gray-200;
$enable-shadows: false;
$enable-gradients: false;
