html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logo {
    display: block;
    height: 50px;
    width: auto;
    margin: 0;
    padding: 0;
}

.dropdown-menu {
    max-height: 300px; /* Adjust this based on how tall you want the dropdown */
    overflow-y: auto; /* Enable scroll if there are many options */
}

.form-control.dropdown-toggle {
    width: 100%;
    border-radius: 0.375rem; /* Optional: rounded corners */
}

.dropdown-menu:empty {
    display: none !important;
    visibility: hidden;
    height: 0;
    pointer-events: none;
    overflow: hidden;
}

.progress {
    background-color: #20242C;
}
.btn-sm-custom {
    padding: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1rem;
    min-width: 80px;
    text-align: center;
}

.btn-sm-tag {
    padding: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1rem;
    text-align: center;
}

.td-buttons {
    text-align: right;
    align-items: center; /* Ensure vertical alignment */
    gap: 10px; /* Adjust gap between buttons */
    width: auto;
}

td, th {
    vertical-align: middle; /* Make sure everything is vertically centered */
}

th {
    cursor: pointer;
}

.sort-arrow {
    display: inline-block;
    width: 1em; /* enough space for one arrow */
    text-align: center;
}